<!-- View Template - Index Home -->
{% extends "base_generic.html" %}

<!-- Override Block - Base Content -->
{% block content %}
    <h1>Local Library Home</h1>
    <p>
        Welcome to <em>LocalLibrary</em>, a Django website developed as a
        <a href="https://visiondream.lenake.co/en-GB/Demos/Sites/Django/Demo_LocalLibrary_website" target="_blank">demo example</a>
        on the VisionDream Network.
    </p>
    <p>
        The demo demonstrates how to create a Django skeleton website and application, define
        URL mappings, views (including Generic List and Detail Views), models and templates.
    </p>

    <h2>UML Models</h2>
    <p>The UML diagram below shows the <em>LocalLibrary</em> site's Django model structure. </p>

    <div>
        <!-- Image - UML Diagram -->
        {% load static %}
        <img src="{% static 'images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">
    </div>

    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>

    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>

    <p>You have visited this page {{ num_visits }} time{% if num_visits > 1 %}s{% endif %}.</p>

{% endblock %}
